<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>AI Student Predictor</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/home.css') }}">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>

<section class="hero">

    <div class="hero-content">

        <div class="hero-badge">
            <i class="fa-solid fa-wand-magic-sparkles"></i>
            AI-Powered Student Analytics
        </div>

        <h1>
            Predict. Understand.
            <span>Improve.</span>
        </h1>

        <p class="description">
            Transform student data into meaningful insights using
            Artificial Intelligence and Machine Learning. Predict performance,
            discover career opportunities and build smarter study plans.
        </p>

        <div class="buttons">

            <a href="/register" class="get-started">
                Register Now
                <i class="fa-solid fa-arrow-right"></i>
            </a>

            <a href="/login" class="login-btn">
                <i class="fa-regular fa-user"></i>
                Login
            </a>

        </div>

        <div class="points">

            <span>
                <i class="fa-solid fa-circle-check"></i>
                AI Predictions
            </span>

            <span>
                <i class="fa-solid fa-circle-check"></i>
                Smart Analytics
            </span>

            <span>
                <i class="fa-solid fa-circle-check"></i>
                Personalized Guidance
            </span>

        </div>

    </div>

</section>

</body>
</html>